.section {
  padding: 15px;
  color: #11b0c8;
  display: flex;
  justify-content: center;
}

.search-input {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.site-search {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px 0 0 5px;
  flex: 1;
}

.button.search {
  border-radius: 0 5px 5px 0;
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
}

select {
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

select option {
  font-size: 1em;
}

.filters {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-around;
  flex-direction: column;
}

/* Cards Styles */

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > * {
  flex: 1 1 100%;
  padding: 1rem;
}

.column {
  display: flex;
}

.column > * {
  width: 100%;
}
/*Flip cards */

.card {
  border: 3px solid #11b0c8;
  border-radius: 1.5%;
  
}


.card-content {
  padding: 1rem;
}

.card-title {
  margin-top: 5%;
}

/*Tablet--------------------*/
@media screen and (min-width: 768px) {
  .filters {
    flex-direction: row;
  }

  .grid > * {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

/* Desktop---------------------- */
@media screen and (min-width: 1127px) {
  .grid > * {
    flex: 1 1 25%;
    max-width: 25%;
  }
}
