.section {
  padding: 15px;
  color: #11b0c8;
  display: flex;
  justify-content: center;
}

.search-input {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.search-input .button {
  padding: 0.3rem;
}

select {
  font-size: 0.8rem;
}

select option {
  font-size: 1em;
}

.filters {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-around;
}

/* Cards Styles */

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > * {
  flex: 1 1 100%;
  padding: 1rem;
}

.card {
  border: 1px solid #11b0c8;
}

.card-content {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .grid > * {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 1127px) {
  .grid > * {
    flex: 1 1 25%;
  }
}
