/*Utils-----*/
.margin-t-1 {
  margin-top: 1rem;
}

.margin-t-2 {
  margin-top: 2rem;
}

.margin-b-1 {
  margin-bottom: 1rem;
}

.margin-b-2 {
  margin-bottom: 2rem;
}

/*---------------*/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Thambi 2", cursive;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.loading-indicator {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: bold;
}

.loading-indicator.active {
  display: flex;
}

/*Main menu styles*/
header {
  width: 100%;
  padding: 1rem;
  background: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.color {
  border: 2px solid #11b0c8;
  border-radius: 5px;
}
.Icon-menu {
  display: flex;
  color: white;
  cursor: pointer;
  align-items: center;
  font-size: 2rem;
}

.main-menu {
  display: none;
  width: 100%;
  max-width: 12rem;
  background-color: #11b0c8;
  position: absolute;
  top: 100%;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin-top: -0.5rem;
  list-style: none;
}

.main-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #11b0c8;
  position: absolute;
  bottom: 100%;
}

.main-menu.active {
  display: block;
}

.main-menu li {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

.main-menu li a {
  text-decoration: none;
  color: white;
}

.logo {
  max-width: 10rem;
}

.banner {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.banner img {
  max-width: 400px;
}

#banner-mobile-image {
  display: block;
}

#banner-tablet-image {
  display: none;
}

#banner-desktop-image {
  display: none;
}

.button {
  border: none;
  color: white;
  background-color: #11b0c8;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button * {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.Character-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/*Slider styles*/

.funfacts {
  min-height: 100vh;
  background-color: white;
  float: left;
  width: 100%;
  padding: 100px 15px;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.funfacts .title {
  margin-bottom: 60px;
}
.funfacts .title h1 {
  text-align: center;
  color: #11b0c8;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
}

.funfacts .slider {
  border: 1px solid #333333;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 30px;
  background: black;
}
.funfacts .slider .slide {
  display: none;
}
.funfacts .slider .slide.active {
  display: block;
  animation: slide 1s ease;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.funfacts .slider p {
  font-size: 18px;
  color: #ffffff;
  word-spacing: 2px;
}

.funfacts .slider-indicator {
  text-align: center;
  padding-top: 30px;
}
.funfacts .slider-indicator img {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  opacity: 0.2;
  border: 4px solid #fff;
  cursor: pointer;
  transition: opacity 1s ease;
}
.funfacts .slider-indicator img.active {
  opacity: 1;
}

/*footer*/

#boxblack {
  background: black;
}

#boxblack p {
  color: white;
  text-align: center;
}

.RyM-icon {
  width: 5%;
  display: block;
  margin: auto;
}

.Icons-socialMedia {
  color: white;
  cursor: pointer;
  margin-top: auto;
  font-size: 1.5rem;
  text-align: center;
}

#backTop-button {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 3rem;
  display: flex;
  padding: 1rem;
  cursor: pointer;
  color: #11b0c8;
}

/*Tablet--------------------*/
@media screen and (min-width: 768px) {
  #banner-mobile-image {
    display: none;
  }

  #banner-tablet-image {
    display: block;
  }
}

/* Desktop---------------------- */
@media screen and (min-width: 1127px) {
  #banner-mobile-image {
    display: none;
  }

  #banner-tablet-image {
    display: none;
  }

  #banner-desktop-image {
    display: block;
  }
}


